<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>Auroville Photo Library</title>

     <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jon.css">
    <link rel="stylesheet" type="text/css" href="css/herbarium.css">
     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
 </head>
<body>
    <div id='loading'>
        <div id='info'>
            <img id='logo' src="img/pf LOGO.jpg" />
            <p id='waiting_message'>Image database loading... please wait.</p>
        </div>
        <div id='image'></div>
    </div>
</body>
</html>